* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  font-family:
   'Nanum';
   box-sizing: border-box;
}

@font-face {
  font-family: "Jejudoldam";
  src: url("./fonts/Jejudoldam.ttf");
}
  

@font-face {
  font-family: "Nanum";
  src: url("./fonts/NanumSquareNeo-aLt.ttf");
}

@font-face {
  font-family: "Jejuhanla";
  src: url("./fonts/JejuHallasan.ttf");
}

@font-face {
  font-family: 'GmarketSans';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}