* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  font-family:
   'nanumsquare';
}

@font-face {
  font-family: "Jejudoldam";
  src: url("./fonts/Jejudoldam.ttf");
}

@font-face {
  font-family: "Nanum";
  src: url("./fonts/NanumSquareNeo-aLt.ttf");
}